{% extends 'interships/base.html' %}
{% load static %}
{%block content%}
    <br>
    <div class = 'flex justify-center items-center object-center'>
        <h1 class = 'text-2xl justify-center'>Are you sure you want to delete {{type}} "{{name}}"</h1>
    </div>
    <br>
    <div class = 'flex justify-center items-center object-center'>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = 'flex justify-center space-x-6'>
                <a href = {% url 'interns_list'%}> Cancel </a>
                <button id = 'submit' type="submit">Delete</button>
            </div>
        </form>
    </div>
{%endblock%}