{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internship Manager</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>
<body>
    <h1> Interns </h1>
    {%if interns%}
    <ul>
        {% for intern in interns %}
        <li> <a href = "/{{intern.id}}/">{{intern.name}}</a>  -- <button onclick = editUser({{intern.id}})> Edit </button></li>
        {% endfor %}
    </ul>
    {%else%}
    <p> No interns </p>
    {%endif%}
    <hr>
    <h1> Roles </h1>
    {%if roles%}
    <ul>
        {% for role in roles %}
            <li>{{role.name}}</li>
            {% endfor %}
        </ul>
        {%else%}
        <p> No roles </p>
        {%endif%}
        <h1> <a href = "/insert/"> Insert Intern </a> </h1>
</body>
<script src = "{% static 'homepage.js' %}"></script>
</html>