{%load static%}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing Intern {{intern.id}}</title>
    <link rel="stylesheet" href="{% static 'intern_edit.css' %}">
</head>
<body>
    <li> <label for='name'> Name: </label> <input id = 'name' required type = 'text' class 'input' value = "{{intern.name}}" /> </li>
    <li> <label for='email'> Email: </label> <input id = 'email' required type = 'email' class 'input' value = "{{intern.email}}" /> </li>
    <li> <label for='number'> Phone Number: </label>  <input id = 'number' required type = 'tel' class 'input' value = "{{intern.number}}" /> </li>
    <li> <label for='roles'> Roles: </label>  <select id = 'roles' multiple> </li>
        {% for role in roles %}
            <option value = "{{role.name}}"> {{role.name}} </option>
        {% endfor %}
    </select>
    <br>
    <button id = 'edit' onclick = 'edit()'>Edit</button>
    <button id = 'cancel' type = "button" onclick = 'cancel()'>Cancel</button>

</body>
<script src = "{% static 'intern_edit.js' %}"></script>
</html>