{% extends 'interships/base.html' %}
{% load static %}
{%block content%}
<div class = "flex justify-center items-center object-center">
    <img src="../{{intern.avatar}}" alt="Profile Picture" width="200" height="200" class = "rounded-full">
    <ul>
        <li> Name: {{intern.name}} </li>
        <li> Email: {{intern.email}} </li>
        <li> Phone Number: {{intern.number}} </li>
        <li> Role(s): </li>
        {% if rolestatus %}
            {% for role in rolestatus%}
                <ul>
                    <li> {{role.role}} - {{role.status}} </li>
                </ul>
            {% endfor %}
        {% else %}
        <ul> No assigned roles </ul>
        {% endif %}
    </ul>
</div>
{%endblock%}
